# data collection
prefix = string(default='output/')
resource_prefix = string(default='./')
num_runs = integer(default=1)
logging = boolean(default=True)

# general parameters
random_seed = boolean(default=True)
seed = integer(default=1234)
years = integer(default=1000)
t_dur = integer(default=7)
record_interval = integer(default=1)
demo_burn = integer(default=0)
demo_period = integer(default=1)

# population parameters
pop_size = integer(default=1000)
growth_rate = float(default=0.000)
imm_rate = float(default=0.000)
use_parity = boolean(default=False)
dyn_rates = boolean(default=False)

# demographic parameters
couple_prob = float(default=0.08)
leaving_prob = float(default=0.02)
divorce_prob = float(default=0.01)
couple_age = integer(default=21)
couple_age_max = integer(default=60)
leaving_age = integer(default=18)
divorce_age = integer(default=24)
divorce_age_max = integer(default=60)
min_partner_age = integer(default=16)
partner_age_diff = integer(default=-2)
partner_age_sd = integer(default=2)

birth_gap_mean = integer(default=270)
birth_gap_sd = integer(default=0)
#immigration_prob = float(default=0.0)

